.homePage {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    padding: 20px;
    height: 100vh;
}

.info {
   background-color: rgb(251, 249, 249);
   padding: 20px;
   width:20%;

}

.info h2 {
    margin-bottom : 30px;
    font-family:Courgette;
}

.info p {
    font-family: serif;
        size: 10px;
        font-family: Courgette;
}
b{
    font-family: Courgette;
}
.myPost {
    
    width: 80vw;
    display: flex;
    /* padding: 10px; */
    gap: 40px;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(230, 230, 230);
}


.postCard img {
    width: 250px;
}

p{
    font-family:Courgette;
}
h1{
    width:80%;
    text-align: center;
}